.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
.container{
  max-width: 180vh;
  box-sizing: border-box;
  display: grid;
  margin: auto;
}

header{
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid rgb(219, 219, 219);
}
nav{
  max-width: 180vh;
  height: 8vh;
  background: #7061fb;
  margin: auto;
}

.topBar{
  background: rgb(45, 210, 124);
  height: 4vh;
  width: 100%;
}
.barcontent{
  max-width: 180vh;
  height: 4vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leftside{
  height: 4vh;
  grid-column: 1/2;
}

.leftside ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

item{
  padding: 10px;
  float: left;
  color: #fff;
}


.rightside{
  height: 4vh;
  background: rgb(9, 211, 247);
  grid-column: 2/3;
}

aside{

}

main{
  
   
}
footer{
 

}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
